body{
    background-color: pink;
    color: white;
    font-family:"Permanent Marker", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(209, 46, 100);
    color: white;
    font-family: "Prompt", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}
